<div class="row">
  <div class="col-sm-12 text-center mt-5">
    <% @articles.each do |article| %>
      <article>
        <h2> <%= link_to "#{article.title}", article_path(article) %></h2>
        <p><%= article.content %></p>
        <%= link_to '<i class="fas fa-trash-alt text-danger">'.html_safe , article_path(article) , method: :delete, data:{confirm: 'Do you want to delete this article?'} %></i>
        <%= link_to '<i class="far fa-edit text-warning"></i>'.html_safe, edit_article_path(article) %></i>
      </article>
    <% end %>
  </div>
</div>
