<div class="row text-center">
  <div class="col-sm-12 mt-5">
      <article>
        <h2> <%= @article.title %></h2>
        <p><%= @article.content %></p>
      </article>
      <%= link_to "back to main", articles_path %>
  </div>
</div>
